localhost:4000 {
  proxy /service-worker.js localhost:3000/static {
    transparent
    health_check /service-worker.js
    health_check_interval "3s"
  }

  proxy / localhost:3000 {
    transparent
    health_check /
    health_check_interval "3s"
  }
}
